<h1> <%= @recipe.name %> </h1>
<h4>Instructions:</h4>
<p>
  <%= @recipe.instructions %>
</p>

<h4>Ingredient List:</h4>
<% if @ingredients_for_recipe.any?  %>
<ul>
  <% @ingredients_for_recipe.each do |ingredient| %>
    <li><a href="/ingredient/<%= ingredient.id %>/<%= @recipe.id %>"><%= ingredient.name %></a></li>
    <ul>
      <li><%= Ingredients_recipe.where(ingredient_id: ingredient.id()).first().quantity %></li>
    </ul>
  <% end %>
</ul>
<% else %>
<p>This recipe has no ingredients</p>
<% end %>

<form action="/add_ingredient/<%= @recipe.id %>" method="post">
  <label for="new_ingredient">Add a new ingredient to the database and assign it to this recipe:</label>
  <input type="text" name="new_ingredient" id="new_ingredient" class="form-control">
  <label for="new_quantity_input">Quanity (Ex: 3 tbsp; 1 cup):</label>
  <input type="text" name="new_quantity_input" id="new_quantity_input" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<p><a href="/recipe/<%= @recipe.id %>/edit">Update Instructions</a></p>

<br>
<hr>

<form action="/delete_recipe/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete This Recipe</button>
</form>
<hr>

<h4>Add another tag to this recipe</h4>
<form action="/recipe_add_tag/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="tag_input">Enter a word (tag):</label>
  <input type="text" name="tag_input" id="tag_input" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Add Tag</button>
</form>

<h3>Tags:</h3>
<ul>
  <% @tags.each do |tag| %>
  <li><a href='/tag/<%= tag.id %>/<%= @recipe.id %>'><%= tag.name %></a></li>
  <% end %>
</ul>

<h4>Add an existing tag to this recipe</h4>
<form action="/recipe_add_existing_tag/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <select class="form-control" name="existing_tag_input">
    <% @all_tags.each do |tag| %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>
  <br>
  <button type="submit" class="btn btn-primary">Add Tag</button>
</form>

<br>

<p><a href="/">Home</a></p>
<p><a href="/recipes">Back to Recipes</a></p>
